<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Cuenta</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/cuenta.js}"></script>
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    		<form th:action="@{/cuenta/registrar}" method="post" th:object="${cuenta}">
    			<div class="form-group">
    				<label for="idcuenta">ID:</label>
    				<input type="text" class="form-control" th:field="*{idCuenta}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">NUMERO DE CUENTA:</label>
    					<input type="text" class="form-control" th:field="*{numeroCuenta}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('numeroCuenta')}" 
								th:errors="*{numeroCuenta}">
						</div>
						
						<div class="form-group">
    					<label for="nombre">CONTRASENA:</label>
    					<input type="text" class="form-control" th:field="*{contrasenaCuenta}" id="nombre"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('contrasenaCuenta')}" 
								th:errors="*{contrasenaCuenta}">
						</div>
						
						<div class="form-group">
    					<label for="nombre">RECOLECTOR:</label>
    					<select class="form-control" th:field="*{recolector.idRecolector}">
    						<option th:each="reco: ${listaRecolectores}"
    							th:value="${reco.idRecolector}"
    							th:text="${reco.nombre}"
    							th:selected="(${reco.idRecolector} == *{recolector.idRecolector})">
    						</option>    					
    					</select>
						</div>
    					
    				</div>
    				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/cuenta/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>