<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/PublicLayout :: head(~{::title})">
<title>Reciclador</title>
</head>
<body>
	<section id="container">
		<div th:replace="fragments/PublicLayout :: header"></div>
		<div th:replace="fragments/PublicLayout :: aside"></div>

		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<br>
					<div class="col-md-12 mt-3">
						<div class="content-panel">
							<div class="container-fluid ">
								<form id="myform">
									<div class="row clearfix">
										<div class="col-md-12 column">

											<a style="border-bottom-color: green"
												th:href="@{/reciclador/irRegistrar}" id="add-row"
												type="button" class="btn btn-primary btn-md left-block">
												<span class="glyphicon glyphicon-plus"></span> Reciclador
											</a> <a style="border-bottom-color: green"
												th:href="@{/reciclador/irBuscar}" id="add-row" type="button"
												class="btn btn-primary btn-md left-block"> <span
												class="glyphicon glyphicon-search"></span> Buscar
											</a>

											<hr>
											<div class="table-responsive">
												<table
													class="table table-bordered table-hover table-striped text-center"
													id="tab_logic">
													<thead>
														<tr>
															<th class="text-center">ID RECICLADOR</th>
															<th class="text-center">USUARIO</th>
															<th class="text-center">CONTRASENA</th>
															<th class="text-center">NOMBRE</th>
															<th class="text-center">APELLIDO</th>
															<th class="text-center">DNI</th>
															<th class="text-center">CELULAR</th>
															<th class="text-center">EMAIL</th>
															<th class="text-center">DIRECCION</th>
															<!-- <th class="text-center">CALIFICACION</th> -->
															<!--   	<th class="text-center">PUNTO</th> -->
															<th class="text-center">TIPO</th>
															<th class="text-center">DISTRITO</th>
															<th class="text-center">OPERACION</th>
															<th class="text-center">OPERACION</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="rec: ${listaRecicladores}">
															<td th:text="${rec.idReciclador}"></td>
															<td th:text="${rec.usuario}"></td>
															<td th:text="${rec.contrasena}"></td>
															<td th:text="${rec.nombre}"></td>
															<td th:text="${rec.apellido}"></td>
															<td th:text="${rec.dni}"></td>
															<td th:text="${rec.celular}"></td>
															<td th:text="${rec.email}"></td>
															<td th:text="${rec.direccion}"></td>
															<!--<td th:text="${rec.calificacion}"></td>-->
															<!-- 	<td th:text="${rec.punto}"></td>  -->
															<td th:text="${rec.tipo}"></td>
															<td th:text="${rec.distrito.nombre}"></td>

															<td><a
																th:href="@{/reciclador/eliminar?id=}+${rec.idReciclador}" class="btn btn-danger">Eliminar</a></td>
															<td><a
																th:href="@{'/reciclador/modificar/'}+${rec.idReciclador}" class="btn btn-info">Modificar</a></td>
														</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
									<div th:if="${mensaje}" class="alert alert-danger">
										<p th:text="${mensaje}"></p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<div th:replace="fragments/PublicLayout :: js"></div>
</body>

</html>