<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/PublicLayout :: head(~{::title})">
<title>Residuos</title>
</head>
<body>
	<section id="container">
		<div th:replace="fragments/PublicLayout :: header"></div>
		<div th:replace="fragments/PublicLayout :: aside"></div>

		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<br>
					<div class="col-md-12 mt-3">
						<div class="content-panel">
							<div class="container-fluid ">
								<form id="myform">
									<div class="row clearfix">
										<div class="col-md-12 column">

											<a style="border-bottom-color: green"
												th:href="@{/residuo/irRegistrar}" id="add-row" type="button"
												class="btn btn-primary btn-md left-block"> <span
												class="glyphicon glyphicon-plus"></span> Residuo
											</a>

											<hr>
											<div class="table-responsive">
												<table
													class="table table-bordered table-hover table-striped text-center"
													id="tab_logic">
													<thead>
														<tr>
															<th class="text-center">ID RESIDUO</th>
															<th class="text-center">NOMBRE</th>
															<th class="text-center">CATEGORIA</th>
															<th class="text-center">RECICLADOR</th>
															<th class="text-center">OPERACION</th>
															<th class="text-center">OPERACION</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="res: ${listaResiduos}">
															<td th:text="${res.idResiduo}"></td>
															<td th:text="${res.nombre}"></td>
															<td th:text="${res.categoria.nombre}"></td>
															<td th:text="${res.reciclador.nombre}"></td>

															<td><a
																th:href="@{/residuo/eliminar?id=}+${res.idResiduo}" class="btn btn-danger">Eliminar</a></td>
															<td><a
																th:href="@{'/residuo/modificar/'}+${res.idResiduo}" class="btn btn-info">Modificar</a></td>
														</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
									<div th:if="${mensaje}" class="alert alert-danger">
										<p th:text="${mensaje}"></p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<div th:replace="fragments/PublicLayout :: js"></div>
</body>

</html>