<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/PublicLayout :: head(~{::title})">
<title>Residuo</title>
</head>
<body>
	<section id="container">
		<div th:replace="fragments/PublicLayout :: header"></div>
		<div th:replace="fragments/PublicLayout :: aside"></div>

		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<br>
					<div class="col-md-12 mt-3">
						<div class="content-panel">
							<div class="container-fluid ">
								<form th:action="@{/residuo/registrar}" method="post"
									th:object="${residuo}">
									<div class="form-group">
										<label for="idresiduo">ID:</label> <input type="text"
											class="form-control" th:field="*{idResiduo}"></input>

										<div class="form-group">
											<label for="nombre">NOMBRE:</label> <input type="text"
												class="form-control" th:field="*{nombre}" id="nombre"></input>

											<div class="alert alert-danger"
												th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
											</div>

											<div class="form-group">
												<label for="nombre">CATEGORIA:</label> <select
													class="form-control" th:field="*{categoria.idCategoria}">
													<option th:each="cat: ${listaCategorias}"
														th:value="${cat.idCategoria}" th:text="${cat.nombre}"
														th:selected="(${cat.idCategoria} == *{categoria.idCategoria})">
													</option>
												</select>
											</div>

											<div class="form-group">
												<label for="nombre">RECICLADOR:</label> <select
													class="form-control" th:field="*{reciclador.idReciclador}">
													<option th:each="rec: ${listaRecicladores}"
														th:value="${rec.idReciclador}" th:text="${rec.nombre}"
														th:selected="(${rec.idReciclador} == *{reciclador.idReciclador})">
													</option>
												</select>
											</div>

										</div>
										<button type="submit" class="btn btn-primary">Aceptar</button>
										<a href="/residuo/listar" class="btn btn-danger">Cancelar</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<div th:replace="fragments/PublicLayout :: js"></div>
</body>

</html>